* {
  margin: 0;
  padding: 0;
}
.mt {
  margin-top: 15px;
}
.mr {
  margin-right: 15px;
}
.mb {
  margin-bottom: 15px;
}
.ml {
  margin-left: 15px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.text-center {
  text-align: center;
}
